<form #form="ngForm" (ngSubmit)="saveCourse(form)">
  <div>
    <mat-form-field>
      <input matInput type="text" name="description" [(ngModel)]="model.description" placeholder="Descrizione Corso" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="date" [(ngModel)]="model.date" placeholder="Data Corso" required>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Salva</button>&nbsp; &nbsp;
    <button mat-raised-button color="primary" type="button" (click)="dismissModal()">Annulla</button>
  </div>
</form>